<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="al.taskmasterprojinz" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainView"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".CreateTask"
            android:label="@string/title_activity_create_task"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".EditTask"
            android:label="@string/title_activity_create_task"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".MyTasksForDate"
            android:label="@string/title_activity_create_task"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".TasksListViewPattern"
            android:label="@string/title_activity_task_llist_vie_pattern" >
        </activity>
        <activity
            android:name=".MyTasksView"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name=".TabHostActivity"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name=".GroupsView"
            android:label="@string/title_activity_groups_view" >
        </activity>
        <activity
            android:name=".HelpView"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".AddGroup"
            android:label="@string/title_activity_add_group"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".ChooseTaskExecutor"
            android:label="@string/title_activity_choose_task_executor"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".GroupsTasks"
            android:label="@string/title_activity_choose_task_executor"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".GroupsTasksForDate"
            android:label="@string/title_activity_choose_task_executor"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".SendedTaskView"
            android:label="@string/title_activity_choose_task_executor"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
